
    <!-- Your banner code -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
      <div class="banner-content">
        <h1>Welcome to my new website</h1>
        <p>Smart website created with Bootstrap</p>
        <%= link_to "How it works", "#", class: "btn btn-primary btn-lg" %>
      </div>
    </div>

    <!-- Your features code -->
    <!-- HELP : <%= image_tag "example.png", class: "img-rounded avatar" %> -->
    <!-- HELP 2 : <%= link_to "Meet the team", "team.html", class: "btn btn-primary" %> -->

    <div class="text-center">
      <div class="features-container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="card-designed">
              <%= image_tag "globe.png" %>
              <h3>Discover the world</h3>
              <p>The earth is your new home.</p>
            </div>
          </div>
           <div class="col-xs-12 col-md-3">
            <div class="card-designed">
              <%= image_tag "dollar.png" %>
              <h3>Pay online</h3>
              <p>No cash issues anymore.</p>
            </div>
          </div>
           <div class="col-xs-12 col-md-3">
            <div class="card-designed">
              <%= image_tag "beer.png" %>
              <h3>Meet people</h3>
              <p>Discover new culture and lifestyle.</p>
            </div>
          </div>
           <div class="col-xs-12 col-md-3">
            <div class="card-designed">
              <%= image_tag "heart.png" %>
              <h3>Share and love</h3>
              <p>Join a community you will love.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Your cards code -->
    <div class="cards-wrapper">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-4">
            <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2)), url('images/card-paris.jpg');">
              <div class="card-name">Paris</div>
              <div class="card-content">
                <h3>Seb's home</h3>
                <p>Charming room with patio</p>
              </div>
              <%= image_tag "seb.png", class: "avatar" %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2)), url('images/card-brussels.jpeg');">
              <div class="card-name">Brussels</div>
              <div class="card-content">
                <h3>Anne's home</h3>
                <p>Lovely house</p>
              </div>
              <%= image_tag "anne.png", class: "avatar" %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="card" style="background : linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2)), url('images/card-london.jpeg');">
              <div class="card-name">London</div>
              <div class="card-content">
                <h3>Romain's home</h3>
                <p>Nice flat in Piccadilly</p>
              </div>
              <%= image_tag "romain.png", class: "avatar" %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Your newsletter code -->
    <div class="wrapper-newsletter text-center">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input class="form-control" id="exampleInputEmail2" placeholder="alan@turing.com">
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
    </div>

    <!-- Your map code -->
    <iframe class = "designed-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2519.12574042056!2d4.356782150997578!3d50.8473557794316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c48002fa211f%3A0xa083255f82851545!2sCo.Station!5e0!3m2!1sfr!2sbe!4v1469798745932" frameborder="0" style="border:0" allowfullscreen ></iframe>

    <!-- Your footer code -->
    <!-- <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <ul class="list-inline designed-list">
          <li><a href="http://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
          <li><a href="http://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="http://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-6 text-right">
            <p>This is a Airbnb Home challenge @ LeWagon</p>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

